{% extends "base.html" %}
{% load static %}
{% block main %}


<style>
  .fitness-heading {
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    
    background: linear-gradient(90deg, #ff5733, #ffbd69);
    
    /* Apply background clip with proper vendor prefixes */
    background-clip: text;
    -webkit-background-clip: text;
    
    /* Ensure text remains transparent */
    -webkit-text-fill-color: transparent;
    
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    
    width: fit-content;
    
    border: 3px solid #ff5733;
    border-radius: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.3);
}
</style>


<div class="row m-2">

    <div class="col-md-9">

        <h1 class="fitness-heading">My Cart</h1>
        <div class="row mx-auto">
            {% for cart in carts  %}
            <div class="col-md-5">
              
                <img src="{{cart.pid.pimage.url}}" class="card-img-top" alt="...">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h3 class="card-title"><b>Productname: {{cart.pid.pname}}</b></h3><br>
                    <h5 class="card-title"> <strong>Price: {{cart.pid.price}}</strong>Rs</h5><br>
                   
                    <p><label for=""><b>Quantity:</b></label>
                    <a href="/updateqty/0/{{cart.id}}"><button class="btn btn-danger">-</button></a>

                        
                     <input type="text" value="{{cart.qty}}">
                     <a href="/updateqty/1/{{cart.id}}"><button class="btn btn-danger">+</button></a>
                    </p><br>
                    <p><a href="/removecart/{{cart.id}}/"> <button class="btn btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
                      </svg>&nbsp;    Remove 

                    </button></a></p>
                   
           
 
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
    <div class="col-md-3">
        <div class="shadow-lg p-3 mb-5 bg-body rounded">
            <p> <b>Total items:{{items}} </b> </p>
            <p></p>
            <p>Total Amt: <b>Rs {{total}}</b>  </p>
            <a href="/checkaddress"><button class="btn btn-warning">Continue</button></a>
            <a href="/"><button class="btn btn-danger ">Shop More</button></a>
        </div>




    </div>
</div>
{% endblock main %}