<div class="container-fluid" style="background-color:rgb(255, 255, 255) ;">
    <div class="row mx-1 py-5">

        <div class="col-6 " style="padding-top: 10%;">

            
            <h6> <span class="badge text-bg-secondary" style=" padding-left: 2%;">New Launch</span></h6>

            <h1 style="color: orange; padding-left: 2%;">

                Product of the Month
            </h1><br>

            <h5>
                <ul>
                    <li>
                        Thprex Pre-Workout Limited Edition is the ultimate powerhouse designed to elevate your
                        workout
                        experience to the next level.
                    </li><br>
                    <li>Crafted for those who demand more from their training sessions,
                        this limited-edition pre-workout formula is packed with high-performance ingredients that
                        deliver an intense burst of energy, enhanced focus, and unstoppable endurance. With its
                        unique
                        blend of potent stimulants and performance-boosting compounds, Thprex ensures that you
                        achieve
                        peak performance every time you hit the gym.</li>
                </ul>
            </h5><br><br>

            <button type="button" class="btn btn-secondary btn-lg"
                style="background-color: black; text-align: center;">Grab Now
            </button>
        </div>





        <div class="col-6  ">

            <div style="height: 60%; width: 60%;">

                <img src=" {% static 'images/Screenshot 2025-01-22 202527.png' %}" alt="">








            </div>


        </div>
    </div>

</div>





<div class="container-fluid">
    <div class="row mx-1 py-5">
        <div class="col-5">
            <img src="{% static 'images/Screenshot 2025-01-22 202010.png' %}" width="750px"
                height="700px" alt="">
        </div>
        <div class="col-2">

        </div>

        <div class="col-5 ">
            <div class="col px-2">
                <h1 style="color: orange;">Newly Launched NITRA WHEY
                </h1>

                <h1 style="color: orange;">Muscle Building Protein HealthFarm Nitra Whey | Ultimate Muscle Building
                    Formula
                </h1><br>
                </h1><br>
            </div>
            <div class="col ">
                <ul>
                    <h5>
                        <li>Nitra Whey boasts an impressive 34g of protein + 3g of Creatine per serving.
                        </li><br>
                        <li>Unmatched Quality and Delicious Flavor</li><br>
                        <li>Amino Acid Powerhouse: Loaded with 7.69g of Branched-Chain Amino Acids (BCAAs) and 6g of
                            Glutamic acid in each serving, it aids in speedy muscle recovery, reducing tiredness
                            after
                            exercising.</li></b>
                    </h5>
                </ul>
            </div>

        </div>
    </div>

</div><br>
<hr>
