{% load static %}





<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="Fit-life.css">





</head>

<body>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <p
        style="background-color:rgb(5, 5, 5); color: aqua;text-align: center; position: fixed; top: 0;width: 100%; color: white;  background-color: #0b0b0b; z-index: 1000; ">
        ₹150 OFF on Your First Order above ₹2,399 | Code: NEWME </p><br><br>



    <marquee behavior="right" direction="left" scrollamount="10" loop="infinite"
        style="background-color:rgb(5, 5, 5); color: aqua ; ">

        Get an Extra Rs 50 discount on prepaid orders above 999 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 100 discount on prepaid orders above 1799&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 50 discount on prepaid orders above 999 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 100 discount on prepaid orders above 1799&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 50 discount on prepaid orders above 999 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 100 discount on prepaid orders above 1799&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 50 discount on prepaid orders above 999 &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;
        Get an Extra Rs 100 discount on prepaid orders above 1799&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;&nbsp;

    </marquee>

    <div class="container-fluid  "
        style="position:sticky; top:23px;width: 100%; z-index: 1000; background-color:white; border:1px  solid rgb(222, 214, 214);">
        <div class="row shadow-lg bg-body-sbtl rounded">
            <div class="col-7">


                <nav class="navbar navbar-expand-lg ">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#"> <img src="{% static 'images/th (4).jpg' %}" height="50%"
                                width="35%" alt=""></a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/"><b>Home</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/contact"><b>Help</b></a>
                                </li>


                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false" style="color: black;">
                                        <b> Benifit's</b>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a class="dropdown-item" href="#">Sleep, Stress & Mental Wellness

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Gut Health

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Beauty

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Weight Management

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Bones & Joints

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Liver Care

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Muscle Repair / Recovery

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Muscle Gain

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Heart Care

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Sexual Wellness

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Daily Vitamins

                                            </a></li>
                                        <li><a class="dropdown-item" href="#">
                                                Daily Vitamins

                                            </a></li>





                                    </ul>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/bmi"><b>Bmi</b></a>

                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/my_order"><b>Orders</b></a>
                                </li>




                                {% if request.user.is_authenticated %}

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/logout"> <b>Logout</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/mycart"><b>Carts</b></a>

                                </li>
                                


                                {% else %}

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/login"><b>Login</b></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link active" aria-current="page" href="/register"><b>Register</b></a>
                                </li>

                                {% endif %}

                            </ul>

                        </div>
                    </div>
                </nav>


            </div>



            <div class="col-5">
                <form class="d-flex" role="search">
                    <input class="form-control me-2 mt-3" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success me-2 mt-3 " type="submit">Search</button>
                </form>
            </div>
        </div>
    </div>




</body>

</html>